* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #FFF;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.container {
    width: 100%;
    height: auto;
    position: relative;
}

.main{
    height: 80rem;
    padding: 20px 50px;
    border-radius: 0.1875rem;
    background: linear-gradient(251deg, #66BE93 0%, #3C546C 99.54%);
    overflow-x: hidden;
}

nav {
    width: 100%;
    height: 50px;
    margin-top: 5px;
    background-color: transparent;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 3rem;
    height: 3.14806rem;
    padding: 0.91663rem;
    text-decoration: none;
}

nav a {
    text-decoration: none;
    color: #FFFFFF;
    padding: 1px 10px;
    margin: 2px 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.09994rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

a {
    position: relative;
    text-decoration: none;
  }
  
  a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50% -50%);
    width: 0;
    height: 2.5px;
    background-color: #FFF;
    transition: width 0.3s ease-in-out, left 0.4s ease-in-out;
  }
  
  a:hover::before {
    width: 80%;
    left: 10%;
  }
  

.btn {
    background-color: transparent;
    display: inline-flex;
    height: 3.525rem;
    padding: 0.75rem 2.1875rem;
    margin-left: 50px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 0.75rem;
    border: 3px solid #FFF;
    color: #FFF;
    font-size: 1.09994rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    transition: transform 0.2s ease-in;
}

.btn:hover {
    transform: scale(1.15);
}


.content{
    width: 100%;
    height: auto;
    margin-top: 4.8rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 5rem;
    position: absolute;
    z-index: 1;
}

.content h1{
    color: #FFF;
    font-size: 1.99113rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.content-box{
    width: 74.8125rem;
    height: 52.875rem;
    margin-top: 5%;
    padding: 8%;
    flex-shrink: 0;
    border-radius: 3.4375rem;
    background: #FFF;
    box-shadow: 5px 11px 4px 0px #3F5C6F;
    position: relative;
}