<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adwaid</title>
    <link rel="stylesheet" href="static/page2.css">
</head>
<body>
    <div class="container">
        <div class="main">
            <nav>
                <a href="{{ url_for('index') }}">HOME</a>
                <a href="{{ url_for('page2') }}"> SCORE</a>
                <a href="{{ url_for('page3') }}">CLASSIFICATION</a>
                <a href="#">LOAN PREDICATION</a>
                <button class="btn">LOGOUT <img src="static/image 8.png" alt=""></button>
            </nav>
        </div>
        <div class="content">
            <h1>CREDIT SCORE CALCULATION</h1>
            <div class="content-box">
                <div class="form">
                    <form action="#" method="get" class="form">
                        <div class="c1">
                            <label for="Accounts">Number of Credit Accounts:</label>
                            <label for="Education">Education Level:</label>
                            <label for="Employment">Employment Status:</label>
                        </div>
                        <div class="c2">
                            <input type="text" placeholder="Total credit accounts" id="Accounts"> 
                            <input type="text" placeholder="Highest level of education" id="Education"> 
                            <input type="text" placeholder="Work status" id="Employment"> 
                        </div>
                    </form>
                    <button class="calculate-btn">CALCULATE</button>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="text">
                <h1>YOUR SCORE</h1>
                <h1 class="score">0000</h1>
            </div>
        </div>
    </div>
</body>
</html>